mixin nav(items)
  nav.navbar.navbar-inverse.navbar-expand-lg.fixed-top
    a.navbar-brand(href='/') کتابخونه
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        each x in items
          li.nav-item
            a.nav-link(href= x.href)= x.name 
        
      form.form-inline.my-2.my-lg-0(id='form-search', method='post', action='/searchbook')
        input.form-control.mr-sm-2(type='search', name="name" , placeholder='جست و جوی کتاب', aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') بگرد


mixin book_card(img_src, title, author, description)

    .card.h-100
        a(href='#')
          img.card-img-top(src=img_src, alt='')
        .card-body
          h4.card-title
            a(href='#')= title
          h5= author
          p.card-text= description
        .card-footer
          small.text-muted ★ ★ ★ ★ ☆

mixin show_books(books)

  each book in books
      .col-lg-4.col-md-6.mb-4
          +book_card('/book/'+book._id+'/image', book.bookname, book.author.name, book.summary)

        
            
    